* {
  box-sizing: border-box;
}

body {
    background-color: #0A1828;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

textarea {
    font-family: monaco, monospace;
    resize: none;
    font-size: larger;
    border-radius: 8px;
    height: 80vh;
    width: 70vh;
    background: #0A1828;
    border-color: #BFA181;
    color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}

textarea:focus {
    outline: none;
}

button {
    font-family: monaco, monospace;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #BFA181;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #178582;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 black;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
  background: transparent;
  width: 100%;
  border-color: #BFA181;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 16px;

}

input:focus {
  outline: none;
}

.input-container {
  width: 80%;
}

::placeholder {
  color: rgb(171, 171, 171);
  font-family: monaco, monospace;
  font-size: 16px;

}

.optionalinput {
  padding: 10px;
  color: rgba(255, 255, 255, 0.75)
}

